<!-- The content Heading -->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<!-- A Message Block to display potential error messages -->
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- The Account Update Form -->
<div id="update-block1"  class="outerbox">
    <div id="update-block2"  class="innerbox">
        <form action="/account/update" method="post" id=updateForm>
            <label for="fname">First name:</label>
            <input type="text" name="account_firstname" id="fname" required value="<%= data.account_firstname %>">
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="account_lastname" required value="<%= data.account_lastname %>">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="account_email" required placeholder="Enter a valid email address" value="<%= data.account_email %>">
            <input type="hidden" name="account_id" value="<%= data.account_id %>">
            <button type="submit" form="updateForm" value="Submit">Update Name or Email</button>
        </form>
        <form action="/account/password" method="post" id=passwordForm>
            <div id=pw-verbiage>
                <p class="italics"> This will change your current Password. <br> Passwords must be minimum of 12 characters and include 1 capital letter, 1 number, and 1 special character</p>
            </div>
            <label for="account_password">Password:</label>
            <input type="password" id="account_password" class="pword" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <input type="hidden" name="account_id" value="<%= data.account_id %>">
            <input type="hidden" name="account_firstname" id="hfname" value="<%= data.account_firstname %>">
            <input type="hidden" id="hlname" name="account_lastname" value="<%= data.account_lastname %>">
            <button type="submit" form="passwordForm" value="Submit">Update Password</button>
        </form>
    </div>
  </div>