<!-- The content Heading -->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<!-- A Message Block to display potential error messages -->
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- The Add inventory Display -->
<div id="addInventory-block1" class="outerbox">
  <div class="italics">ALL FIELDS ARE REQUIRED</div>
  <div id="addInventory-block2" class="innerbox">
    <form id="addInventoryForm" action="/inv/addInventory" method="post">
        <label for="invClass">Classification</label>
        <%- invSelect %>
        <label for="invMake">Make</label>
        <input type="text" id="invMake" name="inv_make" maxlength="30" required value="<%= locals.classification_name %>">
        <label for="invModel">Model</label>
        <input type="text" id="invModel" name="inv_model" maxlength="30" required value="<%= locals.classification_name %>">
        <label for="invDescription">Description</label>
        <textarea rows="5" id="invDescription" name="inv_description" maxlength="255" required"></textarea>
        <label for="invImage">Image Path</label>
        <input type="text" id="invImage" name="inv_image" maxlength="50"required value="<%= locals.classification_name %>">
        <label for="invThumb">Thumbnail Path</label>
        <input type="text" id="invThumb" name="inv_thumbnail" maxlength="50" required value="<%= locals.classification_name %>">
        <label for="invPrice">Price</label>
        <input type="number" id="invPrice" name="inv_price" required min=0 max="100000000" value="<%= locals.classification_name %>">
        <label for="invYear">Year</label>
        <input type="text" id="invYear" name="inv_year" required pattern="\d{4,4}"  value="<%= locals.classification_name %>">
        <label for="invMiles">Miles</label>
        <input type="number" id="invMiles" name="inv_miles" required min="0" max="100000000" value="<%= locals.classification_name %>">
        <label for="invColor">Color</label>
        <input type="text" id="invColor" name="inv_color" maxlength="30" required value="<%= locals.classification_name %>">
      </div>
      <button form="addInventoryForm" type="submit" value="Submit">Add Vehicle</button>
    </form>
  </div>
</div>

